table {
  display: inline-flex;
  background-color: whitesmoke;
  align-items: center;
  justify-items: center;
}
th {
  padding: 5px 21px 3px 21px;
}
h2,
h3 {
  text-align: center;
}
fieldset{
    width: 13%;
    height: 80%;
    background-color: whitesmoke;
}
.float{
    float: left;
}